
@model Email_Test_App.Models.Email
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h3>Email Testing Application</h3>
</div>
<hr />
<div class="col-md-8 offset-md-2">
    <div>
        <form asp-action="Index" asp-controller="Email" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label  asp-for="ServerAddress">SMTP Server Address</label>
                    <input type="text" class="form-control"  asp-for="ServerAddress" required>
                    <span asp-validation-for="ServerAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Port">SMTP Port</label>
                    <input type="number" class="form-control" asp-for="Port" required>
                    <span asp-validation-for="Port" class="text-danger"></span>

                </div>
                <div class="form-group col-md-4 text-center">
                    <label asp-for="IsSSL">Is SSL</label><br />
                    <input type="checkbox" asp-for="IsSSL" value="true" data-toggle="toggle" data-onstyle="success">
                    <span asp-validation-for="IsSSL" class="text-danger"></span>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Login" >SMTP Login</label>
                    <input type="text" class="form-control" asp-for="Login" required>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password">SMTP Password</label>
                    <input type="password" class="form-control" asp-for="Password" required>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-primary">To</span>
                </div>
                <input type="text" class="form-control" asp-for="To" required>
                <span asp-validation-for="To" class="text-danger"></span>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-primary">CC</span>
                </div>
                <input type="text" class="form-control" asp-for="CC">
                <span asp-validation-for="CC" class="text-danger"></span>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-primary">BCC</span>
                </div>
                <input type="text" class="form-control" asp-for="BCC">
                <span asp-validation-for="BCC" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="text" class="form-control" asp-for="Subject" placeholder="Add Subject" required>
                <span asp-validation-for="Subject" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="file" class="form-control-file" asp-for="Attachment" multiple>
            </div>
            <div class="form-group">
                <textarea class="form-control" asp-for="Body" rows="5" placeholder="Type your message here..." required></textarea>
            </div>
            <button type="submit" value="Save" class="btn btn-block btn-primary">Send Mail</button>
        </form>
    </div>
</div>

